<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreMI</title>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="./Estilo/EstiloSobreMi.css">
    <link rel="stylesheet" href="./Estilo/general.css">
</head>
<header >
    <div class="caja1">
        <a href="/">Inicio</a>
        <a href="/SobreMI">Sobre MÍ</a>
        <a href="/habilidades">Habilidades</a>
        <a href="/portafolio">Portafolio</a>
    </div>
</header>
<body>
    <div class="contenido">
        <div class="texto">
            <h2>Gela Karina Antonia Chumil</h2>
            <p>Correo personal: gcosigua2001@gmail.com</p>
            <p>Correo de la Universidad: gchumilc@miumg.edu.gt</p>
            <p>Estudiante de Ingeniera en Sistemas de Información </p>
            <p>y Ciencia de la Comunicación</p>
            <h2>Objetivo personal</h2>
            <p>“Formar parte de una empresa en donde pueda ampliar</p>
            <p>mis conocimientos sobre las tecnologías y sobresalir de</p>
            <p>manera profesional.”</p>
        </div>
        <div class="imagen">
            <img src="../images/Foto.jpeg" alt="Foto" height="200px">
        </div> 
    </div><br><br>
    <div class="caja2">
        <h2>Biografía</h2>
        <p>Nací en el año 2001 y realicé mis estudios de nivel primario en la Escuela Oficial Rural Mixta
        (EORM). Continué mi formación en el Instituto Dr. Juan José Arévalo, donde completé mis
        estudios de nivel básico. Posteriormente, continúe en la escuela en Ciencias de la
        Computación durante mi bachillerato. Actualmente, estoy cursando mis estudios
        universitarios en la Universidad Mariano Gálvez de Sololá.</p>
        <h2>Metas</h2>
        <ul>
            <li>Graduándome como Ingeniera en Sistemas. </li>
            <li>Participar en proyectos innovadores de tecnología.</li>
            <li>Mantener un equilibrio entre la vida personal y profesional.</li>
        </ul>
    </div>
</body><br>
<footer id="footer">
    <div class="inner">
        <p>Contacto</p>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Name</label><br>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label><br>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label><br>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button alt" type="submit"></li>
            </ul>
        </form>
        <ul class="icons">
            <a href="https://www.facebook.com/profile.php?id=100084430431404&mibextid=ZbWKwL" class="icon round fa-facebook">
                <img src="../images/logos_facebook.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/karina_cc_/profilecard/?igsh=MTBtczk1ZDBncXM5MA==" class="icon round fa-instagram">
                <img src="../images/skill-icons_instagram.png" alt="Instagram" class="social-icon">
            </a>
        </ul>
        
    </div>
</footer>
</html>